h1 {
    color: purple;
    border: 2px dashed rgb(255,100,100);

}    
li {
    color: darkolivegreen;
}
h4 {
    background: rgb(255,100,100);
}
body {
    background: tomato;
    /* background: url("../images/wood-grain.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}